header  {
  display: grid;
  max-height: 160px;
  margin: 0;
  background-color: black;
  grid-template-columns: repeat( 3, 1fr);

}

.nav-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: white;
  text-decoration: none;
}

.nav-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
  align-items: center;
}

a  {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 18px;

}

.head-logo  {
  height: 160px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.head-logo img  {
  background-color: blanchedalmond;
  width: auto;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25%;
  height: 120%;
  justify-content: center;
}

body  {
  margin: 8px;
  text-align: center;
}

.main-title  {
  /* margin-top: -25px; */
  /* height: 350px; */
  background-image: url(white-brick.jpg);
  background-size: cover;
  /* padding-top: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}

h1  {
  font-family: 'Pacifico', cursive;
  font-size: 80px;
  margin-bottom: 0;
  margin-top: 100px;
}

h2  {
  font-family: 'Arimo', sans-serif;
  padding-top: 0;
  font-size: 30px;
  margin-bottom: 50px;
}

.content  {
 
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1;
}

label  {
  display: block;
}

select  {
  width: 150px;
}

input  {
  width: 140px;
  text-align: center;
}

.radio  {
  display: flex;
  width: 140px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

textarea  {
  width: 240px;
  height: 40px;
}

.form  {
  font-family: 'Arimo', sans-serif;
  background-image: url(barber-chair.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

form>div  {
  padding-bottom: 20pt;
}

form  {
  background-color: rgba(0, 0, 0, 0.514);
  width: 400px;
  margin: auto;
  border-radius: 5%;
  height: 500x;
  color: antiquewhite;
  font-size: 18px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.section-2  {
  background-image: url(barber-tools-bg2.jpg);
  background-size: 150%;
  background-position: center;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  font-weight: 200;
}

.info-title  {
  display: flex;
  background-color: rgba(0, 0, 0, 0.527);
  place-items: center;
  justify-content: center;
  width: 475px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 10px;
  border-radius: 10%;
  font-family: 'Pacifico', cursive;
  font-size: 45px;
  font-weight: 100;
  align-items: center;
}

ul  {
  font-family: 'Pacifico', cursive;
  padding-left: 0;
  font-size: 30px;
  
  
}

li  {
  font-family: 'Arimo', sans-serif;
  list-style: none;
  font-size: 18px;
  padding: 3px;
}

.contact-info  {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  margin: auto;

}

.email  {
  grid-column: 2/3;
  grid-row: 1;
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 10%;
  margin: auto;
  padding: 10px;

}

.phone  {
  grid-column: 1/3;
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 10%;
  margin: auto;
  padding: 10px;

}

.address  {
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 10%;
  margin: auto;
  padding: 10px;
  
}
p  {
  margin: auto;
  border-bottom: 1pt solid antiquewhite;
  margin-bottom: 20px;
}

footer  {
  background-color: black;
}

.foot-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: auto;
  justify-content: center;
  padding-bottom: 20px;


}

.foot-nav  {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.foot-nav a  {
  font-weight: 100;
}

.store-hours  {
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

h3  {
  display: flex;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  text-decoration: underline;
  font-size: 30px;
  font-weight: 100;
  margin-top: 0;
}

table  {
  font-family: 'Arimo', sans-serif;
  width: 400px;
}

.foot-logo  {
  height: 40px;
  align-items: ;
}

.foot-img  {
  height: 120px;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: blanchedalmond;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25%;
  justify-content: center;
  position: relative;
  bottom: 80px;

}

.follow-us  {
  color: whitesmoke;
  margin-top: 0;
}

.icons  {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 840px)  {

  .content  {
    display: flex;
    flex-direction: column;
  }

  .contact-info  {
    padding-bottom: 10px;
  }

  header  {
    display: grid;
    grid-template-columns: 60% 40%;
    width: auto;
    grid-template-rows: 50% 50%;
    height: 80px;
  }

  
  .nav-1 {
    display: flex;
    justify-content: space-around;  
  }

  .nav-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .head-logo  {
    height: 140px;
    display: flex;
    justify-content: flex-end;
    border-radius: 50%;
    padding-right: 15px;
  }

  a  {
    color: white;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .head-logo img  {
    background-color: blanchedalmond;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25%;
    height: 100%;
    justify-content: center;
    z-index: 1;
  }

  .contact-info  {
    padding-bottom: 60px;
    justify-content: space-between;
    
    
  }

  .ul  {
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .info-title  {
    width: 280px;
    
  }

  .address  {
    margin-bottom: 10px;
  }

  .phone  {
    margin-bottom: 10px;
  }

  
  form  {
    width: 310px;
  }

  .info-title  {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    width: 320px;
    font-weight: 300;
  }
  
  h1  {
    font-size: 40px;
    font-weight: 100;
    padding-top: 0px;
    text-align: left;
    padding-left: 20px;
    margin-top: 0;

  }

  .main-title h2  {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 0px;
    padding-top: 10px;
    margin-bottom: 0px;
    color: black;
    border-radius: 2.5%;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;

  }

  .main-title  {
    height: 170px;
    padding-bottom: 0;
  }
  
  .email  {
    grid-column: 1/3;
    grid-row: 2;
  }
  .phone  {
    grid-row: initial;
    grid-column: initial;
    margin: auto;
    
  }

  .section-2 p  {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 0;
    
  }
  
  .section-2 li  {
    font-size: 14px;
  }
}

.foot-container  {
  display: flex;
  flex-direction: column;
}

.foot-nav  {
  flex-direction: column;
  padding-left: 30px;
  margin-top: 0px;
  text-align: left;
}

table  {
  width: 370px;
  justify-content: flex-start;
  text-align: left;
  padding-left: 15px;
}

.store-hours  {
  margin-top: 0;
}

.logo-wrapper  {
  display: flex;
  justify-content: flex-end;
}

.foot-logo  {
  height: 20px;
  padding-right: 20px;
    }

.foot-img  {
  height: 140px;
  display: flex;
  margin: auto;
  background-color: blanchedalmond;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25%;
  position: relative;
  justify-content: flex-end;
  bottom: 50px;
}

.foot-nav a  {
  padding: 0px;
}

