header  {
  display: grid;
  max-height: 160px;
  margin: 0;
  background-color: black;
  grid-template-columns: repeat( 3, 1fr);

}

.nav-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: white;
  text-decoration: none;
}

.nav-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

a  {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 18px;

}

.head-logo  {
  height: 160px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.head-logo img  {
  background-color: blanchedalmond;
  width: auto;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25%;
  height: 120%;
  justify-content: center;
}

main  {
  background-image: url(razor-background.jpg);
  background-size: cover;
  background-position: right;
  padding-top: 50px;
  padding-bottom: 50px;
}

section  {
  display: grid;
  grid-template-columns: 60% 40%;
  
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

h1  {
  font-size: 70px;
  border-bottom: black 2pt solid;
  padding-bottom: 60px;
  font-family: 'Pacifico', cursive;

}

h2  {
  font-size: 30px;
  font-family: 'Arimo', sans-serif;

}

.container  {
  text-align: center;
}

.image-gallery  {
  display: grid;
  grid-auto-columns: 200px;
  grid-auto-rows: 200px;
  grid-gap: 10px;
  justify-content: center;
}

.image-gallery .box  {
width: 100%;
height: 100%;
position: relative;
}

.image-gallery .box  {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.box img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 70% 30%;
  cursor: pointer;
  transition: 2s ease-in-out;
}

.box:hover img  {
  transform: scale(1.5);
}

.box .text  {
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 18px;
  pointer-events: none;
  z-index: 4;
  transition: 1.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.452);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.box:hover .text  {
  opacity: 1;
}

@media (max-width: 840px)  {

  header  {
    display: grid;
    grid-template-columns: 60% 40%;
    width: auto;
    grid-template-rows: 50% 50%;
    height: 80px;
  }

  .nav-1 {
    display: flex;
    justify-content: space-around;  
  }

  .nav-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .head-logo  {
    height: 130px;
    display: flex;
    justify-content: flex-end;
    border-radius: 50%;
  }

  a  {
    color: white;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .head-logo img  {
    background-color: blanchedalmond;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25%;
    height: 100%;
    justify-content: center;
    z-index: 1;
  }

  main  {
    padding-top: 0;
    background-image: none;
    padding-bottom: 0;
  }

  section  {
    display: flex;
    flex-direction: column;
    
  }

  .title  {
    padding-left: 10px;
    padding-bottom: 180px;
    background-image: url(razor-background.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 20px;
  }

  h1  {
    font-size: 38px;
    padding-bottom: 0;
    border-bottom: none;
    margin-right: 150px;
  }

  h2  {
    font-size: 22px;
  }

  .container  {
    background: url(main-background.jpg);
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    padding-bottom: 20px;
    padding-top: 20px;
    
  }
  .container h2  {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
  }
}

footer  {
  background-color: black;
}

.foot-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: auto;
  justify-content: center;
  padding-bottom: 20px;


}

.foot-nav  {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.store-hours  {
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

h3  {
  display: flex;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  text-decoration: underline;
  font-size: 30px;
  font-weight: 100;
  margin-top: 0;
}

table  {
  font-family: 'Arimo', sans-serif;
  width: 400px;
}

.logo-wrapper  {
}

.foot-logo  {
  height: 40px;
  align-items: ;
}

.foot-img  {
  height: 120px;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: blanchedalmond;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25%;
  justify-content: center;
  position: relative;
  bottom: 80px;

}

.follow-us  {
  color: whitesmoke;
  margin-top: 0;
}

.icons  {
  display: flex;
  justify-content: space-evenly;
}